* {
  font-family: 'Raleway';
  text-shadow: 2px 2px 2px #000000  ;
}

body {
  /*
   * 'Black Felt' by E. van Zummeren
   * http://www.evanzummeren.com/
   * Downloaded from http://subtlepatterns.com/
   * Under https://creativecommons.org/licenses/by-sa/3.0/
   */
  background: url('images/zwartevilt.png');
}

.fold {
  width: 0;
  height: 0;
  border-top-width: 55px;
  border-top-style: solid;
  border-top-color: #000;
  border-left-width: 45px;
  border-left-style: solid;
  border-left-color: transparent;
  box-shadow: -3px 6px 13px #000;
  position: absolute;
  top: 0;
  right: 0;
}

a.social-link {
  font-size: 16px;
  color: #29b6f6;
  transition: all 300ms linear;
  transition-delay: 500ms;
  -webkit-transition-delay: 500ms;
}

a.social-link:hover {
  color: #795548;
}

.card-content {
  height: 170px;
  background-color: black;
}

.card .card-content p {
  color: #fff;
  font-size: 14px;
}

.card .card-title a {
  font-size: 20px;
  color: #29b6f6;
  text-transform: none;
}

.card .card-title a:hover {
  color: #795548;
}
